.order-cont{
    display: grid;
    grid-template-columns: 0.5fr 6fr;
}



.side-bar{
    background-color: rgb(82, 24, 175);
    height: 100vh;
    padding: 10px;
}

.icons{
    padding: 15px;
}

.icons:hover{
    background-color: white;
}